@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./partials/variables";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// preloader
.loader-image-animation {
    width: 150px;
    animation: camera 3s infinite;
    transform-origin: center
}

.loader-image-animation img {
    width: 100%
}

@keyframes camera {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(-10deg)
    }

    20% {
        transform: rotate(0deg)
    }

    40% {
        transform: rotate(-20deg)
    }

    60% {
        transform: rotate(30deg)
    }

    80% {
        transform: rotate(-20deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    background: #ffffff;
    z-index: 99999;
    width: 100%
}

.loader-image-animation {
    width: 150px;
    animation: camera 3s infinite;
    transform-origin: center
}

.loader-image-animation img {
    width: 100%
}

@keyframes camera {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(-10deg)
    }

    20% {
        transform: rotate(0deg)
    }

    40% {
        transform: rotate(-20deg)
    }

    60% {
        transform: rotate(30deg)
    }

    80% {
        transform: rotate(-20deg)
    }

    100% {
        transform: rotate(0deg)
    }
}
